.top-cart {
    background-image: url(../img/topcart.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
}

.heading-big {
    color: #FFF;
    font-family: Montserrat;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
    margin-top: 127px;
}

.cart {
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;

    &__name-box {
        display: flex;
        justify-content: space-between;
        padding-bottom: 14px;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-top: 1px solid #CACDD8;
        ;
        padding-top: 25px;
        padding-bottom: 32px;
    }

    &__left {
        display: flex;
        gap: 32px;
    }

    &__info {
        width: 276px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 14px;

        &_title {
            color: #000;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        &_text {
            color: #888;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &_price {
            color: #050505;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
    }

    &__link-box {
        display: flex;
        gap: 30px;
    }

    &__link {
        color: #000;
        font-size: 14px;
        font-weight: 400;
        line-height: 210%;
        text-decoration-line: underline;
        transition: color 0.3s;

        &:hover {
            color: #888;
        }
    }

    &__content {
        grid-column: span 8;
    }

    &__input {
        border: none;
        border-radius: 6px;
        background: #F7F6F6;
        box-sizing: border-box;
        width: 70px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 20px;
        padding-right: 10px;

        &:focus {
            outline: none;
        }
    }

    &__button-box {
        display: flex;
        gap: 7px;
    }

    &__button {
        width: 200px;
        border-radius: 50px;
        border: 1px solid #000;
        box-sizing: border-box;
        background: transparent;
        color: #020202;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        margin-top: 18px;
        padding-top: 10px;
        padding-bottom: 10px;
        transition: color 0.3s, background 0.3s;

        &:hover {
            background: #000;
            color: #FFF;
        }
    }

    .form {
        border-radius: 20px;
        background: #F7F6F6;
        height: 556px;
        grid-column: span 4;
        display: flex;
        flex-direction: column;
        align-items: center;

        &_title {
            padding-top: 42px;
            padding-bottom: 35px;
            color: #000;
            text-align: center;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

        &-box {
            width: 288px;
            gap: 41px;
            display: flex;
            flex-direction: column;
            outline: none;
        }

        &_input {
            background: #F7F6F6;
            border: none;
            border-bottom: 1px solid #CACDD8;
            font-family: Montserrat;

            &::placeholder {
                color: #000;
                font-size: 14px;
                font-weight: 400;
                font-family: Montserrat;
            }

            &:focus {
                outline: none;
            }
        }

        &_price {
            padding-top: 64px;
            padding-bottom: 18px;
            color: #000;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;

            &::before {
                content: 'Итого: ';
                color: #000;
                font-size: 24px;
                font-weight: 400;
            }
        }

        &_button {
            border-radius: 20px;
            border: 1px solid #040404;
            width: 290px;
            padding-top: 10px;
            padding-bottom: 10px;
            font-family: Montserrat;
            transition: background 0.3s, animation 0.3s;

            &:hover {
                background: #000;
                color: #FFF;
                animation: pulsate-fwd 0.6s ease-in-out infinite both;
            }
        }
    }
}